@use 'src/styles/vars';


.home__title {
  margin: 2rem auto;
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 0.2rem;
  text-align: center;
  font-size: 1.5rem;
  color: #33200D;
  border-bottom: solid 4px #FFC46E;
  
}

.fav {
  color:#33200D;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__text{
    margin: 0.2rem 1rem;
  }
}

.fav__button__cat{
    background-color: #FFC46E;
    color: white;
    font-weight: bold;
    border-radius: vars.$radius * 2;
    padding: vars.$gutter / 1.5 vars.$gutter * 2;
    width: 13rem;
    text-align: center;
    border: none;
    transition: 0.2s;
    margin: vars.$gutter 0;
      &:hover{
        background-color: #33200D;
      }      
  }

  
  .fav__button__asso{
    background-color: #FFC46E;
    color: white;
    font-weight: bold;
    border-radius: vars.$radius * 2;
    padding: vars.$gutter / 1.5 vars.$gutter * 2;
    width: 13rem;
    text-align: center;
    border: none;
    transition: 0.2s;
    margin: vars.$gutter 0;
      &:hover{
        background-color: #33200D;
      }      
  }
