@use 'src/styles/vars';

.section {

  
  &__title{
    text-align: center;
    padding-bottom: vars.$gutter;
    margin: vars.$gutter auto;
    border-bottom: 1px solid black;
    width: 95%;

    &__asso{
      text-align: center;
      padding-bottom: vars.$gutter;
      margin: vars.$gutter * 4 auto vars.$gutter;
      border-bottom: 1px solid black;
      width: 95%;
    }
  }
}

.grid {

  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  
}
